.container {
  width: calc(100% - 100px);
  padding: 12dvh 15px 10dvh 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding-top: 95px;
    padding-left: 0;
    padding-right: 0;
  }
}
.container .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding-bottom: 2.5rem;
}
.container .info .number {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-boldEx);
  line-height: 1;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid var(--border);
}
.container .info .title {
  font-weight: var(--font-weight-boldEx);
  font-size: var(--font-size-l);
  padding-top: 3px;
}
.container .info .tags {
  display: flex;
  gap: 0 25px;
  flex-wrap: wrap;
}
.container .info .tags li {
  position: relative;
  font-size: calc(var(--font-size-s) + 1.5px);
  color: var(--text-g);
}
.container .info .tags li:not(:last-child)::before {
  content: "/";
  position: absolute;
  right: -16px;
  opacity: 0.85;
}
.container .info .desc {
  white-space: pre-line;
  color: var(--text-h);
  font-size: var(--font-size-d);
}
@media (max-width: 768px) {
  .container .info .desc {
    white-space: normal;
  }
}

/* Contents */
.contents {
  width: 100%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
.contents_title {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-boldEx);
  margin-bottom: 25px;
  border-left: 5px solid var(--text);
  padding-left: 8px;
  padding-bottom: 3px;
}
.contents_desc {
  font-size: var(--font-size-d);
  margin-bottom: 25px;
  color: var(--text-h);
}
.contents .figures {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.contents .figures figure {
  flex: 1;
}
@media (max-width: 768px) {
  .contents .figures {
    flex-direction: column;
    gap: 0;
  }
}
.contents figure {
  margin: 0;
}
.contents figure video,
.contents figure img {
  vertical-align: top;
  border-radius: 15px;
  border: 1px solid var(--border);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
}
.contents figure figcaption {
  padding: 1rem 1rem 3rem 1rem;
  font-size: var(--font-size-d);
}
@media (max-width: 768px) {
  .contents figure figcaption {
    padding-left: 0;
    padding-right: 0;
  }
}
.contents figure figcaption p {
  word-break: break-all;
  text-align: justify;
  color: var(--text-h);
}
.contents figure figcaption p.center {
  font-size: calc(var(--font-size-s) + 1.5px);
  text-align: center;
  color: var(--text-g);
}
.contents figure figcaption p.center + p {
  padding-top: 10px;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 0 15px;
  flex-wrap: wrap;
}
.buttons a {
  position: relative;
  font-size: calc(var(--font-size-s) + 1.5px);
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  gap: 3px;
  transition: color 0.3s ease;
}
.buttons a svg {
  position: relative;
  top: 1px;
}
.buttons a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--text);
  transition: width 0.3s ease;
}
.buttons a:hover {
  color: var(--text);
}
.buttons a:hover::after {
  width: 100%;
}

/* contents_footer */
.footer > div:not(:first-child) {
  border-top: 1px solid var(--border-g);
}
.footer .button_prev,
.footer .button_next {
  padding: 1rem 0;
}
.footer .button_prev a,
.footer .button_next a {
  display: flex;
  align-items: center;
}
.footer .button_prev span,
.footer .button_next span {
  display: inline-block;
  padding-top: 2px;
  width: 50px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  color: var(--text-g);
}
.footer .button_prev strong,
.footer .button_next strong {
  font-size: var(--font-size-d);
  display: inline-block;
  width: calc(100% - 50px);
  transition: 0.15s ease-in-out;
}
.footer .button_prev:hover strong,
.footer .button_next:hover strong {
  opacity: 0.65;
}

.article_list {
  display: flex;
}/*# sourceMappingURL=ProjectDetail.module.css.map */