// ProjectDetail.module.scss

.container {
  width: calc(100% - 100px);
  padding: 120px 15px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 768px) {
    width: 90%;
    padding: 95px 0;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-bottom: 2.5rem;
    .number {
      font-size: var(--font-size-s);
      font-weight: var(--font-weight-boldEx);
      line-height: 1;
      padding: 5px 10px;
      border-radius: 50px;
      border: 1px solid var(--border);
    }
    .title {
      font-weight: var(--font-weight-boldEx);
      font-size: var(--font-size-l);
      padding-top: 3px;
    }
    .tags {
      display: flex;
      gap: 0 25px;
      flex-wrap: wrap;
      li {
        position: relative;
        font-size: calc(var(--font-size-s) + 1.5px);
        color: var(--text-g);
        &:not(:last-child)::before {
          content: "/";
          position: absolute;
          right: -16px;
          opacity: 0.85;
        }
      }
    }
    .desc {
      white-space: pre-line;
      color: var(--text-h);
      font-size: var(--font-size-d);
      @media (max-width: 768px) {
        white-space: normal;
      }
    }
  }
}

/* Contents */
.contents {
  width: 100%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  &_title {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-boldEx);
    margin-bottom: 25px;
    border-left: 5px solid var(--text);
    padding-left: 8px;
    padding-bottom: 3px;
  }
  &_desc {
    font-size: var(--font-size-d);
    margin-bottom: 25px;
    color: var(--text-h);
  }
  .figures {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    figure {
      flex: 1;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 0;
    }
  }
  figure {
    margin: 0;
    video,
    img {
      vertical-align: top;
      border-radius: 15px;
      border: 1px solid var(--border);
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: inline-block;
    }
    figcaption {
      padding: 1rem 1rem 3rem 1rem;
      font-size: var(--font-size-d);
      @media (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
      }
      p {
        word-break: break-all;
        text-align: justify;
        color: var(--text-h);
        &.center {
          font-size: calc(var(--font-size-s) + 1.5px);
          text-align: center;
          color: var(--text-g);
          & + p {
            padding-top: 10px;
          }
        }
      }
    }
  }
}

/* Buttons */
.buttons {
  display: flex;
  gap: 0 15px;
  flex-wrap: wrap;
  a {
    position: relative;
    font-size: calc(var(--font-size-s) + 1.5px);
    font-weight: var(--font-weight-bold);
    display: flex;
    align-items: center;
    gap: 3px;
    transition: color 0.3s ease;
    svg {
      position: relative;
      top: 1px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      height: 1px;
      background: var(--text);
      transition: width 0.3s ease;
    }
    &:hover {
      color: var(--text);
    }
    &:hover::after {
      width: 100%;
    }
  }
}

/* contents_footer */
.footer {
  > div {
    &:not(:first-child) {
      border-top: 1px solid var(--border-g);
    }
  }
  .button_prev,
  .button_next {
    padding: 1rem 0;
    a {
      display: flex;
      align-items: center;
    }
    span {
      display: inline-block;
      padding-top: 2px;
      width: 50px;
      font-size: var(--font-size-s);
      font-weight: var(--font-weight-bold);
      color: var(--text-g);
    }
    strong {
      font-size: var(--font-size-d);
      display: inline-block;
      width: calc(100% - 50px);
      transition: 0.15s ease-in-out;
    }
    &:hover {
      strong {
        opacity: 0.65;
      }
    }
  }
}
.article_list {
  display: flex;
}
