// Projects.module.scss

section {
  position: relative;
  padding: 10rem 0;
  overflow-x: hidden;
  &.bg {
    background-color: var(--bg);
  }
  .txt {
    position: absolute;
    top: -50dvh;
    right: -35px;
    font-size: clamp(6.25rem, 13.3333vw, 12rem);
    font-family: var(--heading);
    font-weight: var(--font-weight-boldEx);
    font-style: italic;
    color: var(--text-g);
    z-index: 9;
    line-height: 1;
    opacity: 0.45;
    will-change: transform;
  }
  .inner {
    position: relative;
    z-index: 999;
  }
  .project_list {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 9;
    padding: 0 1rem;
    @media (max-width: 1600px) {
      gap: 4rem;
    }
  }
  .project_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    &::before {
      position: absolute;
      font-size: 10rem;
      font-family: var(--heading);
      -webkit-text-stroke: 1px var(--border);
      color: transparent;
      top: -3rem;
      opacity: 0.45;
    }
    &:nth-child(1)::before {
      content: "01";
    }
    &:nth-child(2)::before {
      content: "02";
    }
    &:nth-child(3)::before {
      content: "03";
    }
    &:nth-child(4)::before {
      content: "04";
    }
    &:nth-child(odd) {
      left: -15rem;
      &::before {
        left: -3rem;
      }
    }
    &:nth-child(even) {
      right: -15rem;
      &::before {
        right: -3rem;
      }
      a {
        flex-direction: row-reverse;
        @media (max-width: 986px) {
          flex-direction: column;
        }
      }
      .info {
        align-items: flex-end;
        @media (max-width: 986px) {
          align-items: center;
        }
        .title,
        .summary {
          text-align: right;
          @media (max-width: 986px) {
            text-align: center;
          }
        }
        .summary {
          color: var(--text-h);
        }
      }
    }
    @media (max-width: 1600px) {
      &:nth-child(odd) {
        left: -5rem;
      }
      &:nth-child(even) {
        right: -5rem;
      }
    }
    @media (max-width: 1200px) {
      &:nth-child(odd) {
        left: 0;
      }
      &:nth-child(even) {
        right: 0;
      }
    }
    a {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem 3rem;
      position: relative;
      border-radius: var(--bg);
      top: 0;
      transition: top 0.35s ease-in-out;
      &:hover {
        top: -15px;
        .thumb {
          box-shadow:
            rgba(0, 0, 0, 0.35) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }
      }
      @media (max-width: 986px) {
        flex-direction: column;
      }
    }
    .thumb {
      width: 300px;
      max-width: 90%;
      margin: 0;
      overflow: hidden;
      isolation: isolate;
      aspect-ratio: 1/0.85;
      border-radius: 0.65rem;
      box-shadow:
        rgba(0, 0, 0, 0.2) 0px 20px 40px -15px,
        rgba(0, 0, 0, 0.15) 0px 10px 25px -20px;
      transition: box-shadow 0.35s ease-in-out;
      border: 1px solid var(--border-g);
      img,
      video {
        vertical-align: top;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info {
      width: calc(100% - 1rem - 300px);
      display: flex;
      flex-direction: column;
      @media (max-width: 986px) {
        width: 100%;
        align-items: center;
      }
      .title {
        width: 100%;
        display: block;
        font-size: var(--font-size-m);
        @media (max-width: 986px) {
          text-align: center;
        }
      }
      .summary {
        white-space: break-spaces;
        color: var(--text-h);
        padding-top: 1rem;
        @media (max-width: 986px) {
          text-align: center;
        }
        @media (max-width: 540px) {
          white-space: normal;
        }
      }
      .skill {
        color: var(--text-g);
        font-size: var(--font-size-s);
      }
      .date {
        font-size: var(--font-size-s);
        color: var(--text-g);
      }
    }
  }
}
